.main{
    display: inline-flex;
    margin: 0;
}
.side a{
    position: absolute;
    left: -80px;
    color: white;
    text-decoration: none;
    display: flex;
    padding-left: 4px;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius:0 10px 10px 0;
}
.heading{
    margin-left: 100px;
}


.side a:hover{
    left: 0;
    animation-delay: 20ms;
}

#sb1{
    top: 20px;
    background-color: green;
    
}
#sb2{
    top: 100px;
    background-color: blue;
    
}
#sb3{
    top: 180px;
    background-color: red;
    
}

#sb4{
    top: 260px;
    background-color: black;
    
}