table,
      th,
      td {
        background-color: #96d4d4;
        border: 1px solid black;
        
        border-radius: 10px;
      }
      th,
      td {
        width: 200px;
        height: 10px;
      }
      tr {
        width: 200;
      }